*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    /* border: 1px solid black; */
}

.extra-nav-left{
    float: left;
    width: 100%;
    padding-top: 4px;
}

.extra-nav-left .btn{
    font-size: 9px;
    padding: 3px 8px;
    background-color: #00d7d2;
    color: black;
}

.extra-nav-left a{
    display: inline-block;
    height: 100%;
    text-decoration: none;
    color: #5b6987;
    font-size: 12px;
    letter-spacing: -1px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.extra-nav-right{
    float: left;
    width: 100%;
    padding-top: 4px;
}

.extra-nav-right ul{
    text-align: right;
    list-style-type: none;
}

.extra-nav-right ul li{
    display: inline-block;
}

.extra-nav-right ul li a{
    text-decoration: none;
    font-size: 13px;
    color: #5b6987;
}

.navbar{
    min-height: auto;
    margin-bottom: auto;
}

.new-sticker{
    display: inline-block;
    background-color: #00d7d2;
    border: 1px solid #00d7d2;
    border-radius: 5px;
    padding: 3px 8px;
    font-size: 10px;
    font-weight: bold;
}

.navbar-default{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-default .navbar-nav>.active>a{
    background-color: white;
}

.digital-logo{
    padding-top: 11px;
}

.digital-logo img{
    height: 29px;

}

.navbar-collapse>ul{
    padding-left: 40px;
}

.nav>li {
    /* padding-top: 3px; */
}

.navbar-collapse{
    padding-top: 3px;
}


#list-left li a{
    font-size: 14px;
    font-weight: 600;
    color: #031b4f;
}

#list-left li a i{
    font-size: 12px;
    padding-left: 3px;
}

#list-right{
    padding-top: 9px;
}

#list-right>li:first-child a{
    padding: 7px 15px;
    color: #006aff;
    background-color: white;
    border-color: #006aff;
}

#list-right>li:last-child a{
    padding: 7px 15px;
    color: white;
    background-color: #006aff;
    border-color: #006aff;
}

#list-right li:first-child{
    margin-right: 10px;
}
                            /* Jumbo */
.jumbo{
    padding: 50px 0;
    background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
    background-size: cover;
    background-position: right
}

.jumbo .container{
    padding-top: 70px;
}

.jumbo-text{
    padding: 125px 0;
}

.jumbo-text h1{
    font-size: 58px;
    font-weight: 400;
    color: white;
}

.jumbo-text p{
    font-size: 24px;
    font-weight: 400;
    color: white;
}

.sign-form{
    width: 370px;
    border-radius: 7px;
    background-color: white;
    float: right;
}

.sign-form-top{
    border-radius: 7px;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    padding: 18px 0;
    color: #031b4e;
    background-color: #F3F5F9
}

.sign-form-mid{
    text-align: center;
    padding: 40px 0;
}

.sign-form-mid form input{
    width: 82%;
    font-size: 17px;
    padding: 10px 5px;
    margin-bottom: 5px;
    border: 1px solid lightgrey;
}

.form-button-primary{
    padding: 15px 78px;
    font-size: 18px;
    background-color: #006aff;
}

.sign-form-bottom{
    padding: 25px 0;
    text-align: center;
}

.sign-form-bottom .btn:first-child{
    border: 1px solid #006aff;
    color: #006aff;
    font-size: 16px;
    font-weight: 600;
    padding: 11px 34px;
}

.sign-form-bottom .btn:last-child{
    padding: 10px 17px;
    border: 1px solid #006aff;
    color: #006aff;
    font-size: 17px;
}

.terms{
    text-align: center;
    color: white;
    background-color: green;
}
                                    /* partners */
.partners{
    padding: 57px 0;
    text-align: center;
    background-color: #f3f5f9;
}

.partners h2{
    padding-bottom: 27px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: #5b6987
}

.partners a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #0069ff;
}

.img-partner{
    width: 140px;
    margin: auto;\
}

.img-partner img{
    width: 100%;
}

.docker img{
    padding-top: 7px;
}

.slack img{
    padding-top: 10px;
}

.hashicorp img{
    padding-top: 19px;
}

.wework img{
    padding-top: 12px;
}

.splunk img{
    padding-top: 9px;
}

@media (min-width: 768px) {

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }
}


@media (min-width: 1077px) {

    .navbar-header {
        float: left;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-collapse.collapse {
        display: block !important;
    }


}

@media (max-width: 1077px) {
    .extra-nav-left, .extra-nav-right{
        display: none;
    }
}
