*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    /* border: 1px solid black; */
}

.extra-nav-left{
    float: left;
    width: 100%;
    padding-top: 4px;
}

.extra-nav-left .btn{
    font-size: 9px;
    padding: 3px 8px;
    background-color: #00d7d2;
    color: black;
}

.extra-nav-left a{
    display: inline-block;
    height: 100%;
    text-decoration: none;
    color: #5b6987;
    font-size: 12px;
    letter-spacing: -1px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.extra-nav-right{
    float: left;
    width: 100%;
    padding-top: 4px;
}

.extra-nav-right ul{
    text-align: right;
    list-style-type: none;
}

.extra-nav-right ul li{
    display: inline-block;
}

.extra-nav-right ul li a{
    text-decoration: none;
    font-size: 13px;
    color: #5b6987;
}

.navbar{
    min-height: auto;
    margin-bottom: auto;
}

.new-sticker{
    display: inline-block;
    background-color: #00d7d2;
    border: 1px solid #00d7d2;
    border-radius: 5px;
    padding: 3px 8px;
    font-size: 10px;
    font-weight: bold;
}

.navbar-default{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-default .navbar-nav>.active>a{
    background-color: white;
}

.digital-logo{
    padding-top: 11px;
}

.digital-logo img{
    height: 29px;

}

.navbar-collapse>ul{
    padding-left: 40px;
}

.nav>li {
    /* padding-top: 3px; */
}

.navbar-collapse{
    padding-top: 3px;
}


#list-left li a{
    font-size: 14px;
    font-weight: 600;
    color: #031b4f;
}

#list-left li a i{
    font-size: 12px;
    padding-left: 3px;
}

#list-right{
    padding-top: 9px;
}

#list-right>li:first-child a{
    padding: 7px 15px;
    color: #006aff;
    background-color: white;
    border-color: #006aff;
}

#list-right>li:last-child a{
    padding: 7px 15px;
    color: white;
    background-color: #006aff;
    border-color: #006aff;
}

#list-right li:first-child{
    margin-right: 10px;
}
                            /* Jumbo */
.jumbo{
    padding: 50px 0;
    background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
    background-size: cover;
    background-position: center
}

.jumbo .container{
    padding-top: 70px;
}

.jumbo-text{
    padding: 125px 0;
}

.jumbo-text h1{
    font-size: 58px;
    font-weight: 400;
    color: white;
}

.jumbo-text p{
    font-size: 24px;
    font-weight: 400;
    color: white;
}

.sign-form{
    width: 370px;
    border-radius: 7px;
    background-color: white;
    float: right;
}

.sign-form-top{
    border-radius: 7px;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    padding: 18px 0;
    color: #031b4e;
    background-color: #F3F5F9
}

.sign-form-mid{
    text-align: center;
    padding: 40px 0;
}

.sign-form-mid form input{
    width: 82%;
    font-size: 17px;
    padding: 10px 5px;
    margin-bottom: 5px;
    border: 1px solid lightgrey;
}

.form-button-primary{
    padding: 15px 78px;
    font-size: 18px;
    background-color: #006aff;
}

.sign-form-bottom{
    padding: 25px 0;
    text-align: center;
}

.sign-form-bottom .btn:first-child{
    border: 1px solid #006aff;
    color: #006aff;
    font-size: 16px;
    font-weight: 600;
    padding: 11px 34px;
}

.sign-form-bottom .btn:last-child{
    padding: 10px 17px;
    border: 1px solid #006aff;
    color: #006aff;
    font-size: 17px;
}

.terms{
    text-align: center;
    color: white;
    background-color: green;
}
                                    /* partners */
.partners{
    padding: 57px 0;
    text-align: center;
    background-color: #f3f5f9;
}

.partners h2{
    padding-bottom: 27px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: #5b6987
}

.partners a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #0069ff;
}

.img-partner{
    width: 140px;
    margin: auto;\
}

.img-partner img{
    width: 100%;
}

.docker img{
    padding-top: 7px;
}

.slack img{
    padding-top: 10px;
}

.hashicorp img{
    padding-top: 19px;
}

.wework img{
    padding-top: 12px;
}

.splunk img{
    padding-top: 9px;
}
                                /* features--------- */
.features{
    padding: 100px 0;
}
.feature-title{
    text-align: center;
    padding-bottom: 70px;
}

.feature-title h2{
    font-size: 36px;
    font-weight: 600;
    color: #031b4e
}

.container-features h3{
    font-size: 18px;
    font-weight: 600;
}

.container-features p:nth-child(2){
    padding: 0px 162px;
    display: block;
    font-size: 20px;
    color: #5b6987;
}

.feature-list ul{
    list-style-type: none;
    text-align: left;
}
.feature-list li:first-of-type{
    border-left: 2px solid #0069ff;
}

.feature-list ul li{
    border-left: 2px solid lightgrey;
    padding: 15px 0 10px 5px;
}

.cube{
    background-color: red;
    border: 1px solid black;
}

.feature-card-top-left,
.feature-card-top-right,
.feature-card-bot-left,
.feature-card-bot-right{
    text-align: left;
}

.feature-card-top-left p,
.feature-card-top-right p,
.feature-card-bot-left p,
.feature-card-bot-right p{
    font-size: 16px;
}

.feature-card-top-left p{
    text-align: left;
}

                            /* Developers------- */
.developers{
    text-align: center;
    background-color: #f3f5f9;
}
.container-carousel{
    position: relative;
}

.container-carousel h2{
    padding-top: 50px;
    font-size: 36px;
    font-weight: 600;
}

.container-carousel p:first-of-type{
    font-size: 20px;
    padding-bottom: 40px;
}

.container-carousel img{
    width: 100%;
}

.container-carousel p:last-of-type{
    font-size: 16px;
    padding-top: 20px;
}

.container-carousel::after{
    content: "\f061";
    font-family: FontAwesome;
    position: absolute;
    font-size: 20px;
    top: 55%;
    left: 120%;
    transform: translateY(-55%);
}

.container-carousel::before{
    content: "\f060";
    font-family: FontAwesome;
    font-size: 20px;
    position: absolute;
    top: 55%;
    right: 120%;
    transform: translateY(-55%);
}

.dots i{
    font-size: 10px;
    color: #0069ff;
}
@media (max-width: 480px) {
    .container-features p{
        padding: 0;
    }

    .sign-form{
        width: auto;
    }

    .feature-list ul{
        text-align: center;
    }

    .feature-list ul li{
        display: inline-block;
        padding-right: 25px;
        padding-bottom: 30px;
        border: none;
    }

    .feature-list li:first-of-type{
        border-left: none;
    }

    .feature-card-top-left,
    .feature-card-top-right,
    .feature-card-bot-left,
    .feature-card-bot-right{
        text-align: center;
    }

    .container-features p:nth-child(2){
        padding: 0px;
    }
}

@media (min-width: 768px) {

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }


}


@media (min-width: 1077px) {

    .navbar-header {
        float: left;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-collapse.collapse {
        display: block !important;
    }


}

@media (max-width: 1077px) {
    .extra-nav-left, .extra-nav-right{
        display: none;
    }
}
